<template>
        <lightning-card title="Unit Status" icon-name="standard:bot">
          <div class="slds-m-around_medium">
            Unit {unitNumber} alive!
          </div>
          </lightning-card>
</template>